In [4]:
import psycopg2

In [77]:
def q1(conn):
  cur=conn.cursor()
  # create view for enrollment in each class
  view_query = '''
  create or replace view Enrolled
  as
  select course_id, count(*) as num from course_enrolments 
  group by course_id;
  '''
  cur.execute(view_query)
  conn.commit()
  
  #get the courses as required
  # as term_id 5199 = 19T3
  solution_query='''
  select s.code, c.quota, e.num from courses c
  join Enrolled e on c.id = e.course_id
  join subjects s on c.subject_id = s.id
  where c.quota > 50 and c.term_id = 5199
        and e.num > c.quota
  order by s.code;
  '''
  cur.execute(solution_query)
  result_table=cur.fetchall()
  for row in result_table:
    print("{0} {1:.0%}".format(row[0], row[2]/row[1]))

In [78]:
def connect():
  try:
    conn = psycopg2.connect("dbname=a3 user=postgres password=chenqq227")
    q1(conn)
    conn.close()
  except Exception as e:
    print("Couldn't connect to the database:", e)

In [79]:
connect()

ARCH1322 102%
COMM1000 119%
COMP9020 125%
COMP9021 114%
CVEN9710 108%
FINS5510 106%
GSOE9210 127%
INST3900 101%
LAND2313 105%
MBAX9131 295%
PATH2201 103%
PATH2202 111%
PHCM9012 278%
PHCM9748 321%
PLAN2007 101%
SDES2116 103%
SDES9211 103%
SDES9214 107%

In [2]:
query = '''
    select b.name, T2C.code from classes cl 
    join
    (select c.id, s.code from courses c
    join subjects s on s.id = c.subject_id   
    where term_id = 5196 and s.code ~* '^{}.*') as T2C
    on T2C.id = cl.course_id
    join meetings m on m.class_id = cl.id
    join rooms r on r.id = m.room_id
    join buildings b on b.id = r.within
    group by b.name, T2C.code
    order by b.name, T2C.code;
  '''.format("sss")

In [3]:
query

"\n    select b.name, T2C.code from classes cl \n    join\n    (select c.id, s.code from courses c\n    join subjects s on s.id = c.subject_id   \n    where term_id = 5196 and s.code ~* '^sss.*') as T2C\n    on T2C.id = cl.course_id\n    join meetings m on m.class_id = cl.id\n    join rooms r on r.id = m.room_id\n    join buildings b on b.id = r.within\n    group by b.name, T2C.code\n    order by b.name, T2C.code;\n  "

In [4]:
a = {1:1,2:2}

In [5]:
for key, code in a.items():
  print(key, code)

1 1
2 2

In [6]:
dict = [('B',1),('A',2),('A',1)]

In [9]:
for key in sorted(dict, key=lambda x:(x[0],x[1])):
  print(key, value)

IndexError: string index out of range